<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <!-- Use the 11ty data system to set the title -->
    <title>{% if title %}{{ title }}{% endif %}</title>

    <!-- inlines the global css in site/css/global.css -->
    {% inlinecss "global.css" %}
    <!-- MUST be loaded before any lit bundle. allows hydration of SSRd components -->
    <script type="module" src="/js/ssr-utils/lit-hydrate-support.js"></script>
    <!-- Loads definition for <lit-island>. See docs for @11ty/is-land for usage -->
    <script type="module" src="/js/ssr-utils/is-land.js"></script>
    <!-- inlines the declarative shadow dom polyfill for FF and Safari -->
    {% inlinejs "dsd-polyfill.js" %}
    <!-- if JS is disabled just show the contents without the polyfill -->
    <noscript><style>body[dsd-pending] {display: block !important;}</style></noscript>
    <!-- allows sub-templates to insert into the head -->
    {% block head %}{% endblock %}
  </head>
  <!-- dsd-pending hides body until the polyfill has run on browsers that do not support DSD -->
  <body dsd-pending>
    <main>
      <!-- this is the content of the page -->
      {% block content %}{{ content | safe }}{% endblock %}
    </main>
  </body>
</html>